body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 70, 1) 100%);
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-accordion h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: emoji;
  font-size: xxx-large;
  color: red;
  /* background-color: aqua; */
  position: relative; 
  padding-top: -4px;
}

.faq-accordion h2::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 1%; 
  transform: translate(-50%, 0); 
  width: 40px; 
  height: 40px; 
  background-image: url("f.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  border-radius: 50%; 
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq-item-header {
  background: #f7f7f7;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.faq-item.active .faq-item-header {
  background: #007bff;
  color: #fff;

}

.faq-item-body {
  padding: 15px;
  background: #f9f9f9;
}

.faq-item-body-content {
  font-size: 14px;
  line-height: 1.5;
}
